/* Css Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items:center ;
    position: sticky;
    top: 0px;
    /* background-color: lightblack; */
    /* justify-content:center ; */

}

#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

/* Navigation Bar : logo and Image */
#logo{
    margin: 10px 34px;


}
#logo img{
    height: 56px;
    margin: 2px 2px;
    border-radius:  70% ;
    /* clip-path: circle(); */

}

/* Navigation Bar: list styling */

/* Remove */ 
#navbar{ 
    /* position: relative; */
}

#navbar ul{
    display: flex;
    font-family: cursive;

}

#navbar ul li{
     
    display: flex;
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a{
    colour:white; 
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}    

#navbar ul li a:hover{
    colour:black; 
    background-color: white;
    
}    

/* Home section */
#home{
    display: flex;
    flex-direction:column;
    padding: 3px 200px;
    height: 580px;
    justify-content: center;
    font-size: 30px;
    align-items: center;
}

#home::before{
    content:"";
    background: url('../bg1.jpg') no-repeat center center/cover ;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}
#home h1{
    color: white;
    text-align: center;
    font-family: cursive,Bahnschrift SemiBold SemiConden;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'bree serif','serif';
}

/* services section */
#ser{
    margin: 34px;
    display: flex;

}
#ser .box{
    border: 2px solid brown;
    margin: 25px 8px;
    padding: 14px;
    border-radius: 28px;
    background-color: rgb(238, 231, 231);
    margin-bottom: 20px;


}

#ser .box img{
    height: 180px;
    margin: auto;
    display: block;
   /* RRRRR */
    border-radius:  100% ;
    /* clip-path: circle(); */
   
}
#ser .box p{
    font-family:Times New Roman ;
}

/* Clients section */
#client-section{
    /* height: 344px; */
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg6.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}

.client-item{
    padding: 34px;
}

#clients img{
    height: 80px;
    border-radius:  70% ;
    /* clip-path: circle(); */

}

/* contact section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../con1.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5 rem;
    border-radius: 5px;
    font-size: 1.2rem;

}
#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    background: black;
    color:white;
    padding: 9px 20px;
}






/* utility classes */
.h-primary{
    /* font-family: cursive,Bahnschrift SemiBold SemiConden; */
    font-family: Eras Demi ITC;
    /* RRRR */ font-size: 34px; 
    font: 3.8rem;
    padding: 12px;

}

.h-secondary{
    font-family: cursive,Bahnschrift SemiBold SemiConden;
    font: 2.3rem;
    padding: 12px;
    /* RRRRR */text-align: center;



}
   
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px ;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}
